<div class="nav2"  >
    <div class="items sidebar" id="nav-2-display" >
            <a href="/home" class="nav1-items"> <span><img class="icon" src="/public/icons/home.svg" alt=""></span><h2 class="h2-mod">Home</h2></a>
            <a href="/messages" class="nav1-items"> <span><img class="icon" src="/public/icons/message.svg" alt=""></span><h2 class="h2-mod">Inbox</h2></a>
            <a href="/notifications" class="nav1-items"> <span><img class="icon" src="/public/icons/notification.svg" alt=""></span><h2 class="h2-mod">Notification</h2></a>
            <a href="/profile" id="ownerProfile2" class="nav1-items"> <span><img class="icon" src="/public/icons/profile.svg" alt=""></span><h2 class="h2-mod">Profile</h2></a>
            <a href="/login" onclick="return doLogout();" class="nav1-items"> <span><img class="icon" src="/public/icons/logout.svg" alt=""></span><h2 class="h2-mod">Logout</h2></a>

            <div class="search">
                <form class="searchbox" onsubmit="return false">
                    <input type="text" class="input-searchbox" placeholder="Search" autocomplete="off"> 
                    <button class="ti-search" style="background: transparent;width: auto;display: inline;color: black;font-size: x-large;font-weight: 600; margin:0; outline: none;"
                    type="button" onclick="onSearch(this);"
                    ></button>
                </form>

            </div>
    </div>
    <div class="button" id="tooglebutton" onclick="toogle()">
       <img src="/public/icons/menu.svg" class="icon2"  alt="">
    </div>
    
    
</div>  

</div>

<div class="modal fade " id="replyModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content backgroundDiv">
            <div class="modal-header">
                <h4 class="modal-title" >Reply</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="width: 30px; height: 10px;">
					<span aria-hidden="true">&times;</span>
				</button>
            </div>
            <div class="modal-body">
                <form onsubmit="return doPostReply(this);">
					<input type="hidden" name="postId">
					<input type="hidden" name="commentId">
					<textarea name="reply" placeholder="Post your reply"></textarea>
					<button type="submit">Post</button>
				</form>

            </div>
        </div>
    </div>

</div>


</div>



<script src="/public/js/socket.io.js"></script>

<script src="/public/js/jquery-3.3.1.min.js"></script>
<script src="/public/js/main.min.js"></script>
<script src="/public/js/main.js"></script>

<script>

  
    

    
    window.onload = function()
    {
        getUser();
        
    };
     window.onerror = function(file,line,error)
     {
         alert(file + " " + line + " "+ error);
     };


</script>

</body>
</html>