<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/image/final_logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/main.css"> 
    <link rel="stylesheet" href="/public/css/themify-icons.css">
    <link rel="stylesheet" href="/public/css/home.css">
    <link rel="stylesheet" href="/public/css/updateProfile.css">
    <link rel="stylesheet" href="/public/css/search.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
   
    
    <title>InstaBook</title>
</head>
<body>
    <%
		months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
	%>

    <%
			mainURL = "http://localhost:3000";
    %>
    
    <script>
   
   
        var mainURL="http://localhost:3000";
     
        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

     
     </script>




<div class="container">
    <div class="nav1 backgroundDiv">
        <div class="brand-name">
            <h1 style="font-weight: lighter;">InstaBook</h1>
        </div>
        <div class="items">
            <a href="/home" class="nav1-items"> <span><img class="icon" src="/public/icons/home.svg" alt=""></span><h2 class="h2-mod">Home</h2></a>
            <a href="/messages" class="nav1-items"> <span><img class="icon" src="/public/icons/message.svg" alt=""></span><h2 class="h2-mod">Message</h2></a>
            <a href="/notifications" class="nav1-items"> <span><img class="icon" src="/public/icons/notification.svg" alt=""></span><h2 class="h2-mod">Notification</h2></a>
            <a href="/profile" class="nav1-items"> <span><img class="icon" src="/public/icons/profile.svg" alt=""></span><h2 class="h2-mod">Profile</h2></a>
            <a href="/login" onclick="return doLogout();" class="nav1-items"> <span><img class="icon" src="/public/icons/logout.svg" alt=""></span><h2 class="h2-mod">Logout</h2></a>
            
            
            <div class="search">
                <form  class="searchbox" onsubmit="return false">
                    <input class="input-searchbox" type="text"  placeholder="Search" autocomplete="off" >
                        <button class="ti-search" style="background: transparent;
                        width: auto;
                        display: inline;
                        color: black;
                        font-size: x-large;
                        font-weight: 600; margin:0; outline: none;" type="button" onclick="onSearch(this);"></button>
                </form>
    
            </div>
        </div>

    </div>



    <div class="main">
        <div class="brand-name">
            <h1 style="font-weight: lighter;">InstaBook</h1>
        </div>

        

        