<%- include("partials/header") -%>

<div class="heading">
    <h1>Update Profile</h1>
</div>
<div class="content">

    <div class="backgroundDiv postcard" ></div>
    <div class="backgroundDiv postcard" ></div>
    <div class="backgroundDiv postcard" ></div>
    <div class="backgroundDiv postcard" ></div>

</div>




<%- include("partials/footer") -%>














<div class="backgroundDiv postCard">
    <div class="username-profileimage" >
        <label >
        <a href="" style="display: flex; align-items: center; text-decoration: none; color: black; margin: 10px 0;">
        
        <img style="width: 60px; 
        height: 60px; 
        border-radius: 100%;
        margin: 0 20px; 
        " class="postcard-profileImage" src="/public/image/1611254967843-madhav.jpeg">

            <label style="display: flex; flex-direction: column;" >
                <h3 style="display: inline;">Username</h3>
                <h4 style="font-weight: lighter;">Date time</h4>
            </label>
        </a>
        </label>
    </div>

    <div class="post-image-video" style="padding: 10px; border-bottom: 1px solid rgba(133, 130, 130, 0.486);">
        <img src="/public/image/1611254967843-madhav.jpeg" style="height: 300px; width: 300px; padding: 10px; ">
        <video style="display:none; height: 300px; width: 300px; padding: 10px; "></video>
        <div class="post-caption">
            
        </div>
    </div>
    
    <div class="like-comment" style="display: flex;
    flex-direction: row;
    align-content: space-evenly;
    justify-content: space-around;
    padding-top: 10px;    ">
        <span class="" onclick="toggleLikePost(this);" >
            <i class="ti-thumb-up" style="font-size: 30px;"></i>
            <ins style="font-size: 20px;">2</ins>
        </span>

        <span class="" onclick="toggleLikePost(this);" >
            <i class="ti-comments" style="font-size: 30px;"></i>
            <ins style="font-size: 20px;">2</ins>
        </span>
        <span class="" onclick="toggleLikePost(this);" >
            <i class="ti-share" style="font-size: 30px;"></i>
            <ins style="font-size: 20px;">2</ins>
        </span>
    </div>



</div>
























style="display: flex; flex-direction: column;"