
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/css/signup.css">
    <title>Instabook</title>
</head>


<body>
   
        <div class="backgroundDiv signup-form">
            <img src="/public/image/final_logo.svg" alt="" style="width: 100px;
            margin-top: 3%;">
            <h1 class="logo-heading">InstaBook</h1>
            <form onsubmit="return doLogin(this);">
                <input type="email" required name="email" placeholder="Email">
                <input type="password" required name="password" id="" placeholder="Password">
                <button name="submit" type="submit" >
                    <span>Login</span></button>
                   <h4 style="display: inline;">Forget Password ? </h4> <a href="/" style="padding-left: 8px;">Click here !</a>

            </form>
            <h4 style="display: inline !important;
            margin: 10px 0;">Don't have an account ? </h4>
            <a href="/signup" class="signup-link" 
            > SignUp here !</a>
        </div>

<script>
function doLogin(form)
{
    form.submit.setAttribute("disabled","disabled");
    form.submit.innerHTML="<span>Loading...</span>";

    var ajax=new XMLHttpRequest();
    ajax.open("POST","/login",true);

    ajax.onreadystatechange = function()
    {
        if (this.readyState==4 && this.status==200)
        {
            
            form.submit.removeAttribute("disabled");
            form.submit.innerHTML="<span>Login</span>";

            var response=JSON.parse(this.responseText);

            if(response.status == "success")
            {
                var accessToken = response.accessToken;
                localStorage.setItem("accessToken",accessToken);
                if(response.profileImage=="")
                {
                    window.location.href="/updateProfile";
                }
                else{
                    window.location.href="/";
                }
            }
            else{
                alert(response.message);
            }
        }
    };
ajax.send(new FormData(form));
return false;
}


</script>


    
</body>
</html>