<%- include("partials/header") -%>

<div class="heading">
    <h1><%= username %></h1>
</div>
<input type="hidden" id="userProfile" value="<%=username%>"></input>
<div class="content" id="userProfileDisplay">
    
   
    
    
</div>


<script>
    var isProfile=true;

    
</script>

<%- include("partials/footer") -%>