<%- include("partials/header") -%>

<div class="heading">
    <h1>Search</h1>
</div>
<div class="content">
    <input type="hidden" id="query" value="<%= query %>">
    <div id="searchResults">
        

    </div>
    
    

</div>
<script>
    var isSearchResults = true;



</script>



<%- include("partials/footer") -%>