<%- include("partials/header") -%>

<div class="heading">
    <h1>Search</h1>
</div>
<div class="content">
    <input type="hidden" id="query" value="<%= query %>">
    <div id="searchResults">
        

    </div>
    
    

</div>
<script>
    var isSearchResults = true;

    function showSearchResults() {
        var ajax = new XMLHttpRequest();
        ajax.open("POST", "/search", true);
        
        ajax.onreadystatechange = function() {

            if (this.readyState == 4 && this.status == 200){
                var response = JSON.parse(this.responseText);

                if (response.status == "success")
                {
                    var html = "";
                    if(response.data.length==0 || (response.data.length==1 && response.data[0]._id==window.user._id))
                    {
                        alert("No match found. Search Another User !!");
                    }
                    else{
                        for (var a = 0; a < response.data.length; a++) {
						var data = response.data[a];

						if (data._id == window.user._id) {
							continue;
                        } 
                        var isFriend=false;
                        for(var b=0; b<window.user.friends.length; b++)
                        {
                            var tempdata=window.user.friends[b];
                            var friendRequestStatusPending=false;
                            var showAcceptReject=false;
                            if(tempdata._id==data._id)
                            {   
                                if(tempdata.status=="Pending")
                                {
                                    if(tempdata.sentByMe)
                                    {
                                        friendRequestStatusPending=true;
                                    }
                                    else{
                                        showAcceptReject=true;
                                    }
                                }

                                isFriend=true;
                                break;
                            }
                        }
                        html+='<div class="backgroundDiv" style="margin: 5px auto;" >';
                            html+='<div class="username-profileimage" style="border-bottom: none;">';
                                html+='<label>';
                                    html+='<a href="/user/'+data.username+'" style="display: flex; align-items: center; text-decoration: none; color: black; margin: 10px 0;">';
                                        var proImage=getProfileImage(data._id); 
                                        html+='<img style="width: 60px; height: 60px; border-radius: 100%;margin: 0 20px; " class="postcard-profileImage" src="' + mainURL + "/" + proImage + '">';
                                            html+='<label style="cursor: pointer;">';
                                                html+='<h3 >'+data.username+'</h3>';
                                                    html+='</label>';
                                                    html+='</a></label>';
                                                    if(isFriend)
                                                    {
                                                        if(friendRequestStatusPending)
                                                        {
                                                            html+='<div><div class="unfriend-button" >';
                                                            
                                                            html+=' Request Pending!';
                                                        html+='</div></div>';
                                                        }
                                                        else if (showAcceptReject){
                                                            
                                                            html+='<div style="display:flex;"><div class="unfriend-button" style="margin:30px 10px; width:70px; background: linear-gradient(45deg,#f09433 0%,#e6683c 25%, #dc2743 50%,#cc2366 75%, #bc1888 100% );color: white;"  >';
                                                            html+='<a href="javascript:void(0);" data-id="'+data._id+'" onclick="doAccept(this);" style="text-decoration: none; color: white;" >'; 
                                                            html+='Accept</a>';
                                                        html+='</div>';
                                                        html+='<div class="unfriend-button" style="margin:30px 10px; width:70px;" >';
                                                            html+='<a href="javascript:void(0);" data-id="'+data._id+'" onclick="doUnfriend(this);" style="text-decoration: none; color: black;" >'; 
                                                            html+='Reject</a>';
                                                        html+='</div></div>';
                                                        

                                                        }
                                                        else{
                                                            html+='<div><div class="unfriend-button" >';
                                                            html+='<a href="javascript:void(0);" data-id="'+data._id+'" onclick="doUnfriend(this);" style="text-decoration: none; color: black;" >'; 
                                                            html+='Unfriend <i class="ti-back-left"></i></a>';
                                                        html+='</div></div>';
                                                        }
                                                        
                                                    }
                                                    else{
                                                        html+='<div><div class="unfriend-button" >';
                                                            html+='<a href="javascript:void(0);" data-id="'+data._id+'" onclick="sendFriendRequest(this);" style="text-decoration: none; color: black;" >';
                                                            html+='Send Request + </a>';
                                                        html+='</div></div>';
                                                    }
                                                    html+='</div></div>';
                        
                    
                    }
                    }
					
                    document.getElementById("searchResults").innerHTML=html;
                }
                else{
                    alert(response.message);
                }
            }
        };



        var formData = new FormData();
		formData.append("query", document.getElementById("query").value);
		ajax.send(formData);
    }

    function sendFriendRequest(self)
    {
        var _id=self.getAttribute("data-id");
        var ajax=new XMLHttpRequest();
        ajax.open("POST","/sendFriendRequest",true);

        ajax.onreadystatechange=function()
        {
            if(this.readyState==4 && this.status==200)
            {
                var response=JSON.parse(this.responseText);

                alert(response.message);
                if(response.status=="success"){
                    self.remove();
                }
                
            }
        };

        var formData=new FormData();
        formData.append("_id",_id);
        formData.append("accessToken",localStorage.getItem("accessToken"));
        ajax.send(formData);
    }


    function doAccept(self)
    {
        var _id=self.getAttribute("data-id");
        var ajax = new XMLHttpRequest();
        ajax.open("POST", "/acceptFriendRequest", true);

        ajax.onreadystatechange=function()
        {
            if(this.readyState==4 && this.status==200)
            {
                var response=JSON.parse(this.responseText);
                alert(response.message);
                self.remove();
            }
        };

        var formData = new FormData();
        formData.append("_id",_id);
        formData.append("accessToken",localStorage.getItem("accessToken"));
        ajax.send(formData);


    }

    function doUnfriend(self)
    {
        var _id=self.getAttribute("data-id");
        var ajax = new XMLHttpRequest();
        ajax.open("POST", "/unfriend", true);

        ajax.onreadystatechange=function()
        {
            if(this.readyState==4 && this.status==200)
            {
                var response=JSON.parse(this.responseText);
                alert(response.message);
                self.remove();
            }
        };

        var formData = new FormData();
        formData.append("_id",_id);
        formData.append("accessToken",localStorage.getItem("accessToken"));
        ajax.send(formData);


    }


</script>



<%- include("partials/footer") -%>