<%- include("partials/header") -%>

<div class="heading">
    <h1>Update Profile</h1>
</div>
<div class="content">

    <div class="backgroundDiv update-background" >
        <div class="update-form">
            <form onsubmit="return updateProfile(this)">
                <img id="profile-image" style="width: 120px; height: 120px; border-radius: 100%; border: 2px solid black; margin: 7% 8%;"  >
                <input type="file"  name="profileImage" accept="image/*" onchange= "uploadImage();"  >
                <textarea class="form-input aboutMe" name="aboutMe" id="aboutme" cols="30" rows="2" placeholder="About Me"></textarea>
                <input class="form-input name" type="text" required name="name" placeholder="Name">
                <input type="text" class="form-input dob" name="dob" required placeholder="DD/MM/YYYY" />
                <label class="form-input user-name" >Name</label>
                <label class="form-input email" >Email</label>
                <button name="submit" type="submit" >
                    <span>Update</span>
                </button>
                
            
            </form>

        </div>




    </div>
    

</div>

<script>

    var isUpdateProfile = true;

    function showProfileData(user)
    {   
        
        document.querySelector(".user-name").innerHTML = user.username;
		document.querySelector(".name").value = user.name;
		document.querySelector(".email").innerHTML = user.email;
        document.querySelector(".dob").value = user.dob;
        document.querySelector(".aboutMe").value = user.aboutMe;
        document.getElementById("profile-image").setAttribute("src", mainURL + "/" + user.profileImage);
    }
    function uploadImage() {
		var ajax = new XMLHttpRequest();
		ajax.open("POST", "/uploadProfileImage", true);
		ajax.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var response = JSON.parse(this.responseText);
				document.getElementById("profile-image").setAttribute("src", response.data);
			}
		};
        var formData = new FormData();
        formData.append("profileImage",$('input[type=file]')[0].files[0]);
		formData.append("accessToken", localStorage.getItem("accessToken"));
		ajax.send(formData);

		return false;
    }
    
    function updateProfile(form)
    {
        form.submit.setAttribute("disabled", "disabled");
		form.submit.innerHTML = "<span>Loading...</span>";
		var ajax = new XMLHttpRequest();
		ajax.open("POST", "/updateProfile",true);
		ajax.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {

				form.submit.removeAttribute("disabled");
				form.submit.innerHTML = "<span>Update</span>";
				var response = JSON.parse(this.responseText);
				alert(response.message);
			}
		};

		var formData = new FormData(form);
		formData.append("accessToken", localStorage.getItem("accessToken"));
		ajax.send(formData);

		return false;
    }
    window.onload = function()
    {
        showProfileData();
    };

</script>



<%- include("partials/footer") -%>