<%- include("partials/header") -%>

<div class="heading">
    <h1>Update Profile</h1>
</div>
<div class="content">

    <div class="backgroundDiv update-background" >
        <div class="update-form">
            <form onsubmit="return updateProfile(this)">
                <img id="profile-image" style="width: 120px; height: 120px; border-radius: 100%; border: 2px solid black; margin: 7% 8%;"  >
                <input type="file"  name="profileImage" accept="image/*" onchange= "return uploadImage();"  >
                <textarea class="form-input aboutMe" name="aboutMe" id="aboutme" cols="30" rows="2" placeholder="About Me"></textarea>
                <input class="form-input name" type="text" required name="name" placeholder="Name">
                <input type="text" class="form-input dob" name="dob" required placeholder="DD/MM/YYYY" />
                <label class="form-input user-name" >Name</label>
                <label class="form-input email" >Email</label>
                <button name="submit" type="submit" >
                    <span>Update</span>
                </button>
                
            
            </form>

        </div>




    </div>
    

</div>

<script>

    var isUpdateProfile = true;

    
    

</script>



<%- include("partials/footer") -%>