.add-post-box
{
    display: flex;
    width: 100%;
    height: 200px;
    flex-direction: row;
    /* height: 500px; */
    
}
#profile-image-display
{
    width: 120px; 
    height: 120px; 
    border-radius: 100%; 
    border: 2px solid black; 
    
}
.profile-image-post
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}
.post-upload-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.post-content
{   
    display: flex;
    flex-direction: column;
    height: 150px;
    /* height: 450px; */
    border-radius: 10px;
    border: 2px solid black;
    width: 100%;
    margin-right: 10px;
    justify-content: space-evenly;
}
.post-icons
{
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-end;

}
.imag-video-display
{
    display: flex;
    justify-content: center;
}


.postCard{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 525px; */
    /* height: 200px; */
    /* if no img and video  */
    margin: 5px 0;
}

.post-caption
{
    font-size: medium;
    font-weight: 700;
}


.username-profileimage
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid rgba(133, 130, 130, 0.486);
    

}


.like
{
    color: rgb(255, 0, 0);
    cursor: pointer;
    transition: all 0.2s linear 0s;
}
.none
{
    color: black;
    cursor: pointer;
    transition: all 0.2s linear 0s;
}

.delete{
    margin-right: 30px;
}
.comment,.share,.delete{
    cursor: pointer;
}

/* comment area */




.comment-section
{
    display: flex; 
    flex-direction: column;
    
}
.scroll-bar
{
    max-height: 250px; 
    overflow-y: scroll;
}
.scroll-bar::-webkit-scrollbar {
    visibility: hidden;
  }
  
.comment-input
{
    display: flex; 
    flex-direction: row;
    
}
.comment-display
{
    display: flex; 
    flex-direction: column; 
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 12px;
    
}
.comment-textarea
{
    margin-right: 20px; 
    background: transparent;
}
.comment-input-image
{
    width: 60px; 
    height:60px; 
    border-radius: 100%; 
    margin-right: 10px;
    margin-left:10px
}
.comment-input-username
{
    margin: 10px;
}
.comment-input-form
{
    display: flex; 
    flex-direction: row; 
    align-items: center;
}
.user-details
{
    display: flex;
    align-items: center;
}
.user-comment
{
    margin:0 20px ; 
    border-bottom: 1px solid darkgray;
    font-family: cursive;
    font-size: medium;
}
.reply-display
{
    display: flex; 
    flex-direction: column; 
    margin-left: 70px;
    
}





.modal-open {
    overflow: hidden;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}
.modal.fade .modal-dialog {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%);
}
.modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-dialog-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (0.5rem * 2));
}
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    /* background-color: #fff; */
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.modal-backdrop.fade {
    opacity: 0;
}
.modal-backdrop.show {
    opacity: 0.5;
}
.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    margin-left: auto;
}
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}
.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}
.modal-footer > :not(:first-child) {
    margin-left: 0.25rem;
}
.modal-footer > :not(:last-child) {
    margin-right: 0.25rem;
}
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
    .modal-dialog-centered {
        min-height: calc(100% - (1.75rem * 2));
    }
    .modal-sm {
        max-width: 300px;
    }
}
@media (min-width: 992px) {
    .modal-lg {
        max-width: 800px;
    }
}







@media only screen and (max-width: 768px) /* mobile */ 
{
    .comment-input-form{
        flex-direction: column;
        margin-top: 20px;
    }
    .comment-input-form button{
        margin: 10px 0;
    }
}